#edit_panel
	a.edit(href="/manager/?a=resource/update&id=?") Редактировать страницу
	ul
		li Database = 0.0190 s
		li Queries  = 50
		li Application = 0.0190 s
		li Source = cache
		li Total  = 0.1190 s
