footer
	.scripts-area
	.columns
		.column
			a.logo(href="/")
				img(src="/assets/img/icons/logo_inverted.svg" width="195" height="34" loading="lazy")
			ul
				li
					a(href="tel:[[++tel]]") +375 44 54 00 925
				li info@sauko.by
				li.cb Заказать звонок
			ul
				li ООО ПоСтране
				li УНП 192847707
			span.ur Юридический адрес: <br>Беларусь 220053, г. Минск, <br>ул. Нововиленская, 38, каб. 11
			
			
		.column
			ul
				li
					a(href="#") Школьные экскурсии
				li
					a(href="#") Сборные экскурсии
				li
					a(href="#") Туры
				li
					a(href="#") Корпоративы
				li
					a(href="#") Экскурсии на масленицу
				li
					a(href="#") Программы для выпускников
				li
					a(href="#") Экскурсии на Новый год
		.column
			ul
				li
					a(href="#") О нас
				li
					a(href="#") Как оплатить?
				li
					a(href="#") Как заказать?
				li
					a(href="#") Блог
				li
					a(href="#") Отзывы
				li
					a(href="#") Контакты
			.soc
				span.title Подписывайтесь
				a(href="#")
					img(src="/assets/img/icons/inst.svg" width="18" height="18" loading="lazy")
				a(href="#")
					img(src="/assets/img/icons/vk.svg" width="27" height="17" loading="lazy")
		.column
			.pay
				.head
					span.title Работаем с платежными системами:
				.body
					picture
						source(srcset="/assets/img/icons/footer2/ma.avif" type="image/avif")
						img(src="/assets/img/icons/footer2/ma.png" width="117" height="48" loading="lazy")
					picture
						source(srcset="/assets/img/icons/footer2/erip.avif" type="image/avif")
						img(src="/assets/img/icons/footer2/erip.png" width="101" height="34" loading="lazy")
					picture
						source(srcset="/assets/img/icons/footer2/wp.avif" type="image/avif")
						img(src="/assets/img/icons/footer2/wp.png" width="135" height="51" loading="lazy")
					picture
						source(srcset="/assets/img/icons/footer2/bc.avif" type="image/avif")
						img(src="/assets/img/icons/footer2/bc.png" width="130" height="29" loading="lazy")
					picture
						source(srcset="/assets/img/icons/footer2/mc.avif" type="image/avif")
						img(src="/assets/img/icons/footer2/mc.png" width="46" height="36" loading="lazy")
					
					img(src="/assets/img/icons/footer2/sc.svg" width="76" height="34" loading="lazy")

					picture
						source(srcset="/assets/img/icons/footer2/visa.avif" type="image/avif")
						img(src="/assets/img/icons/footer2/visa.png" width="78" height="25" loading="lazy")

	.oferta
		span Информация и цены, представленные на сайте носят справочный характер
		span Оплата услуг производится в белорусских рублях по курсу НБРБ на день расчета
		span Отправляя форму на сайте, вы даете свое согласие на обработку персональных данных


