header
	a.logo(href="/")
		img(src="/assets/img/logo.svg" width="18.86" height="26")
		span sauko travel
	section
		.tel.dd
			span.head
				a(href="[[+tel]]") +375 44 54 00 925
				span.icon-tr
			.wrap
				ul
					li
						a(href="#")
							span.icon-edit
							span Viber
					li
						a(href="#")
							span.icon-edit
							span WhatsApp
					li
						a(href="#")
							span.icon-edit
							span Instagram
		.cur.dd
			span.head
				span.current BYN
				span.icon-tr
			.wrap
				ul
					li BYN
					li RUB
					li USD
					li EUR
		span.mail info@sauko.by