header
	.logo
		a(href="/")
			img(src="/assets/img/icons/logo.svg" width="195" height="34")
	.green
		ul.nav
			li.tel
				a(href="tel:[[++tel]]") +375 44 54 00 925
			li.viber
				a(href="viber://chat/?number=%2B375445400925") Viber
			li.wa
				a(href="https://api.whatsapp.com/send?phone=375445400925") WhatsApp
			li.mail info@sauko.by
			li.cb Заказать звонок
		.currency
			.head
				span BYN
				img(src="/assets/img/icons/tr.svg" width="10" height="5")
			ul
				li byn
				li rub
				li usd
				li eur
		#nav-icon1(style="display:none")
			span
			span
			span




