section.table.mt2.mb2
	span.h1 Школьные экскурсии
	.tabs

		.ex.active(href="/ex.html")
			img(src="/assets/img/icons/list.svg" width="24" height="24")
			a(href="/ex.html") Экскурсии
		
		.tours
			img(src="/assets/img/icons/bus.svg" width="24" height="24")
			a(href="/tours.html") Туры
		
		.corp(href="/corp.html")
			img(src="/assets/img/icons/cocktail.svg" width="24" height="24")
			a(href="/corp.html") Корпоративы
	ul.tags.mt2.mb2
		li
			a(href="/ex/school.html" rel="school") Школьные 
		li
			a(href="/ex/school.html" rel="sbor") Сборные
		li.new
			a(href="/ex/school.html" rel="ny") Новый год
		li
			a(href="/ex/school.html" rel="pan") Масленица
		li.active.new
			a(href="/ex/school.html" rel="factory") Производственные
		li
			a(href="/ex/school.html" rel="walk") Пешеходные
		li
			a(href="/ex/school.html" rel="castle") Замки
		li
			a(href="/ex/school.html" rel="graduate") Выпускные 
		li
			a(href="/ex/school.html" rel="history") Исторические
	.table
		.thead
			.name
				input(type="text" placeholder="Название экскурсии" required)
				img(src="/assets/img/icons/search.svg" width="24" height="24")
			span.duration Продолжительность, часов
			span.distance Расстояние, км
		.tbody
			.row
				.name
					img(src="/assets/img/icons/table/01.jpg" width="36" height="36")
					a(href="/ex.html") Обзорная экскурсия по Минску
				span.duration 3
				span.distance 60
			.row
				.name
					img(src="/assets/img/icons/table/02.jpg" width="36" height="36")
					a(href="/ex.html") Экскурсия в Брест и Брестскую крепость
				span.duration 12
				span.distance 700

