.widget.features
		.head
			span.title Мои преимущества
		.body
			ul
				li
					img(src="/assets/img/icons/features/face.svg" width="24" height="24")
					span Персональный подход
				li
					img(src="/assets/img/icons/features/pay.svg" width="24" height="24")
					span Доступные цены
				li
					img(src="/assets/img/icons/features/bus.svg" width="24" height="24")
					span Различный транспорт
				li
					img(src="/assets/img/icons/features/exp.svg" width="24" height="24")
					span Богатый опыт
				li
					img(src="/assets/img/icons/features/group.svg" width="24" height="24")
					span Большие и малые группы
