.widget.org
	.head
		span.title Новогодние экскурсии
	.body
		ul
			li
				picture
					source(srcset="/assets/img/widgets/org/01.webp, /assets/img/widgets/org/01@2x.webp 2x" type="image/webp")
					img(srcset="/assets/img/widgets/org/01.jpg, /assets/img/widgets/org/01@2x.jpg 2x" src="/assets/img/widgets/org/01.jpg" width="60" height="60" loading="lazy")
				.dsc
					a(href="#") Мир - Несвиж экскурсия
					.chars
						span.time 12 ч
						span.dist 240 км
			li
				picture
					source(srcset="/assets/img/widgets/org/02.webp, /assets/img/widgets/org/02@2x.webp 2x" type="image/webp")
					img(srcset="/assets/img/widgets/org/02.jpg, /assets/img/widgets/org/02@2x.jpg 2x" src="/assets/img/widgets/org/02.jpg" width="60" height="60" loading="lazy")
				.dsc
					a(href="#") Большой театр
					.chars
						span.time 2 ч
						span.dist 40 км

