.widget.review_form 
	.head
		span.title Оставить отзыв обо мне
	form.body
		input(type="text" required placeholder="Ваше имя")
		textarea(placeholder="Текст отзыва")
		.row
			a.y(href="#" target="_blank")
			a.g(href="#" target="_blank")
			input(type="submit" value="Отправить" disabled)