.widget.reviews 
	.head
		span.title
			a(href="/reviews.html") Отзывы
		.arrows
			.prev.swiper-button-disabled
				img(src="/assets/img/icons/arrow.svg" width="16" height="16")
			.next
				img(src="/assets/img/icons/arrow.svg" width="16" height="16")
	.body.swiper 
		.swiper-wrapper
			.swiper-slide
				.header
					span.name Зайцева Т.В.
					span.date 13.05.2024
				.body
					span Большое спасибо от коллектива концерная "Беллесбумпром"! Выражаем Вам огромную признательность за прекрасно организованную экскурсию...	
			.swiper-slide
				.header
					span.name 2 Зайцева Т.В.
					span.date 13.05.2024
				.body
					span 2 Большое спасибо от коллектива концерная "Беллесбумпром"! Выражаем Вам огромную признательность за прекрасно организованную экскурсию...	
