.widget.sbor
	.head
		span.title Сборные экскурсии
	.body
		ul
			li
				picture
					source(srcset="/assets/img/widgets/sbor/01.webp, /assets/img/widgets/sbor/01@2x.webp 2x" type="image/webp")
					img.ex(srcset="/assets/img/widgets/sbor/01.jpg, /assets/img/widgets/sbor/01@2x.jpg 2x" src="/assets/img/widgets/sbor/01.jpg" width="80" height="80" loading="lazy")
				a(href="#") Автобусная экскурсия в Мирский замок
				.row.dt
					span.date 12.01
					span.time 10:00
				.row.actions
					.seats
						img(src="/assets/img/widgets/sbor/user.svg" width="14" height="14")
						span 20
					.price(exid="10" timid="42343")
						img(src="/assets/img/widgets/sbor/add.svg" width="18" height="18")
						span(byn="300") 300
						span.cur BYN
			li
				picture
					source(srcset="/assets/img/widgets/sbor/02.webp, /assets/img/widgets/sbor/02@2x.webp 2x" type="image/webp")
					img.ex(srcset="/assets/img/widgets/sbor/02.jpg, /assets/img/widgets/sbor/02@2x.jpg 2x" src="/assets/img/widgets/sbor/02.jpg" width="80" height="80" loading="lazy")
				a(href="#") Сула
				.row.dt
					span.date 13.01
					span.time 11:00
				.row.actions
					.seats
						img(src="/assets/img/widgets/sbor/user.svg" width="14" height="14")
						span ∞
					.price
						img(src="/assets/img/widgets/sbor/add.svg" width="18" height="18")
						span(byn="20") 20
						span.cur BYN
