.widget.sights
	.head
		span.title Достопримечательности
	.body
		ul
			li
				picture
					source(srcset="/assets/img/widgets/sights/01.avif" type="image/avif")
					img(src="/assets/img/widgets/sights/01.jpg" width="60" height="60" loading="lazy")
				a(href="#") Национальная библиотека
			li
				picture
					source(srcset="/assets/img/widgets/sights/02.avif" type="image/avif")
					img(src="/assets/img/widgets/sights/02.jpg" width="60" height="60" loading="lazy")
				a(href="#") Большой театр