include ../../ui/bread
h1 Блог
ul.table
	li
		img.thumb(src="/assets/img/icons/table/01.jpg" width="36" height="36")
		a(href="#") Запуск нового сайта
		span.date 23.12.2023
	li
		img.thumb(src="/assets/img/icons/table/02.jpg" width="36" height="36")
		a(href="#") Архикафедральный костел Пресвятой Девы Марии
		span.date 23.12.2023
ul.pagination.mt1
	li.prev
		a(href="#")
			img(src="/assets/img/icons/arrow.svg" aria-hidden="true" alt="")
	li
		a(href="#") 1
	li.active
		a(href="#") 5

	li.next
		a(href="#")
			img(src="/assets/img/icons/arrow.svg" aria-hidden="true" alt="")
