include ../../ui/bread
h1 Оплата
.fake-masonry
	.item
		span.head Для юридических лиц
		p Для организованных групп оплата за экскурсии принимается по безналичному расчету.
		
	.item
		span.head Для физических лиц
		p Оплатить туристические услуги Вы можете в любой системе, позволяющей проводить оплату через ЕРИП (пункты банковского обслуживания, 
		p Банкоматы, платежные терминалы, системы интернет-банкинга, клиент-банкинга и т.п.)
		ul
			li Lorem ipsum dolor sit amet
			li Duis varius nunc porttitor ante mollis luctus. Pellentesque fringilla mi neque, nec posuere felis euismod quis.
			li Duis vitae tempus nunc. Sed ex risus, tincidunt a tincidunt ac, ultricies fringilla enim.

	.item.abstract
		span.head Как оплатить банковской картой через систему WebPay*?
		p.small * Безопасный сервер WEBPAY устанавливает шифрованное соединение по защищенному протоколу TLS и конфиденциально принимает от клиента данные его платёжной карты (номер карты, имя держателя, дату окончания действия, и контрольный номер банковской карточке CVC/CVC2)
		p После совершения оплаты с использованием банковской карты необходимо сохранять полученные карт-чеки (подтверждения об оплате) для сверки с выпиской из карт-счёта (с целью подтверждения совершённых операций в случае возникновения спорных ситуаций)