section.content
	include ../../ui/bread
	h1 Автобусная экскурсия в Мирский и Несвижский замки
	.ex-swiper
		.swiper
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/pages/ex/swiper/01.jpg" width="538" height="auto")
				.swiper-slide
					img(data-src="/assets/img/pages/ex/swiper/02.jpg")
				.swiper-slide
					img(data-src="/assets/img/pages/ex/swiper/03.jpg")
				.swiper-slide
					img(data-src="/assets/img/pages/ex/swiper/04.jpg")
		.row
			.swiper-pagination
			ul
				li
					img(src="/assets/img/pages/ex/eye.svg" width="16" height="16")
					span 1260
				li
					img(src="/assets/img/pages/ex/clock.svg" width="16" height="16")
					span 12 ч
				li
					img(src="/assets/img/pages/ex/dist.svg" width="16" height="16")
					span 240 км
	ul.sbor.mt1
		li
			img(src="/assets/img/pages/ex/ballot.svg" width="14" heigth="14")
			span Программа сборной экскурсии
		li
			img(src="/assets/img/pages/ex/beenhere.svg" width="16" heigth="16")
			span Забронировать место
	button.get_to_know_price.mt1 Узнать цену

	ul.tags.mt1
		li
			img(src="/assets/img/pages/ex/flag.svg" width="24" height="24")
			a(href="#") Школьная
		li
			img(src="/assets/img/pages/ex/flag.svg" width="24" height="24")
			a(href="#") Автобусная
	#similar_ex.mt2.mb2
		span.title Похожие экскурсии:
		ul
			li <a href="#">Lorem ipsum</a> dolor sit amet
			li
				a(href="#") Lorem ipsum
			li Duis varius nunc porttitor ante mollis luctus. Pellentesque fringilla mi neque, nec posuere felis euismod quis.
	section#content
		p Вы уви­ди­те са­мые цен­ные па­мят­ни­ки Бе­ла­ру­си, вне­сен­ные ЮНЕСКО в Спи­сок все­мир­но­го куль­тур­но­го на­сле­дия — за­мок в Мире и дворцово-парковый ан­самбль в Не­сви­же, мно­го­лет­няя ре­став­ра­ция ко­то­рых за­вер­ше­на в 2011 го­ду. Несвиж — бывшая столица ор­ди­на­ции кня­зей Рад­зи­вил­лов. Осмотр дворцово-паркового комплекса XVI-XVIII ве­ков, по­стро­ен­но­го Ни­ко­ла­ем Кшишто­фом Рад­зи­вил­лом "Си­рот­кой" (итальянский ар­хи­тек­тор Д. М. Бер­нар­до­ни)
		ul
			li Lorem ipsum dolor sit amet
			li <a href="#">Lorem ipsum</a> dolor sit amet
			li Duis varius nunc porttitor ante mollis luctus. Pellentesque fringilla mi neque, nec posuere felis euismod quis.
		p Вы уви­ди­те са­мые цен­ные па­мят­ни­ки Бе­ла­ру­си, вне­сен­ные ЮНЕСКО в Спи­сок все­мир­но­го куль­тур­но­го на­сле­дия — за­мок в Мире и дворцово-парковый ан­самбль в Не­сви­же, мно­го­лет­няя ре­став­ра­ция ко­то­рых за­вер­ше­на в 2011 го­ду. 

		h2 Программа экскурсии
		p Вы уви­ди­те са­мые цен­ные па­мят­ни­ки Бе­ла­ру­си, вне­сен­ные ЮНЕСКО в Спи­сок все­мир­но­го куль­тур­но­го на­сле­дия — за­мок в Мире и дворцово-парковый ан­самбль в Не­сви­же, мно­го­лет­няя ре­став­ра­ция ко­то­рых за­вер­ше­на в 2011 го­ду. 
		h3 Программа экскурсии
		p Вы уви­ди­те са­мые цен­ные па­мят­ни­ки Бе­ла­ру­си, вне­сен­ные ЮНЕСКО в Спи­сок все­мир­но­го куль­тур­но­го на­сле­дия — за­мок в Мире и дворцово-парковый ан­самбль в Не­сви­же, мно­го­лет­няя ре­став­ра­ция ко­то­рых за­вер­ше­на в 2011 го­ду. 
		img(src="/assets/img/pages/ex/4193.jpg")
		p Вы уви­ди­те са­мые цен­ные па­мят­ни­ки Бе­ла­ру­си, вне­сен­ные ЮНЕСКО в Спи­сок все­мир­но­го куль­тур­но­го на­сле­дия — за­мок в Мире и дворцово-парковый ан­самбль в Не­сви­же, мно­го­лет­няя ре­став­ра­ция ко­то­рых за­вер­ше­на в 2011 го­ду. 
		<picture>
			<source srcset="/assets/img/pages/about/01.avif" type="image/avif">
			<img src="/assets/img/pages/about/01.jpg" alt="Отзыв 1">
		</picture>
		ul
			li Lorem ipsum dolor sit amet
			li <a href="#">Lorem ipsum</a> dolor sit amet
			li Duis varius nunc porttitor ante mollis

		<a href="/assets/img/pages/about/02b.jpg" data-fancybox="i02">
			<picture>
				<source srcset="/assets/img/pages/about/02.avif" type="image/avif"><img src="/assets/img/pages/about/02.jpg" alt="Отзыв 2">
			</picture>
		</a>
		p Вы уви­ди­те са­мые цен­ные па­мят­ни­ки Бе­ла­ру­си, вне­сен­ные ЮНЕСКО в Спи­сок все­мир­но­го куль­тур­но­го на­сле­дия — за­мок в Мире и дворцово-парковый ан­самбль в Не­сви­же, мно­го­лет­няя ре­став­ра­ция ко­то­рых за­вер­ше­на в 2011 го­ду. 
section.sidebar
	include ../../ui/widgets/review_form
	include ../../ui/widgets/sights
	include ../../ui/widgets/sbor
	include ../../ui/widgets/org
	include ../../ui/widgets/reviews
