section.content
	include ../../ui/bread
	h1 Оплата
	.ex-swiper
		.swiper
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/pages/ex/swiper/01.jpg" width="520" height="232")
				.swiper-slide
					img(data-src="/assets/img/pages/ex/swiper/02.jpg")
				.swiper-slide
					img(data-src="/assets/img/pages/ex/swiper/03.jpg")
				.swiper-slide
					img(data-src="/assets/img/pages/ex/swiper/04.jpg")
		.row
			.swiper-pagination
			ul
				li
					img(src="/assets/img/pages/ex/eye.svg" width="16" height="16")
					span 1260
				li
					img(src="/assets/img/pages/ex/clock.svg" width="16" height="16")
					span 12 ч
				li
					img(src="/assets/img/pages/ex/dist.svg" width="16" height="16")
					span 240 км

section.sidebar
	p sidebar	