#home_widgets
	.hero
		h1 sauko <i>travel</i>
		h2 ваш индивидуальный гид по Беларуси
	.widget.welcome
		.head
			span.title Добро пожаловать!
	.widget.reviews 
		.head
			span.title
				a(href="/reviews.html") Отзывы
			.arrows
				span >	
				span <
	.widget.features
		.head
			span.title Мои преимущества
	.widget.rating
		.stars
		span.rating 4.8
		span.desc индекс <br> качества обслуживания