#home_widgets
	.hero
		h1 sauko <i>travel</i>
		h2 ваш индивидуальный гид по Беларуси
	.widget.welcome
		.head
			span.title Добро пожаловать!
			img.close(src="/assets/img/icons/close.svg" width="14" height="14" style="display: none")

		.body
			p Вiтаю ўсіх, кто заглянул на страничку моего сайта! А раз Вы заглянули — значит, скорее всего, Вы увлекаетесь путешествиями, стремитесь к открытиями и познанию себя и окружающего мира. 
			p Я – Инна Савко, экскурсовод, работающий в Минске, буду рада рассказать Вам о белорусских городах и местечках в увлекательной форме.
			.signature
				img(src="/assets/img/pages/index/avatar.jpg" width="64" height="64")
				span.name Инна Савко
				span.role экскурсовод
	include ../../ui/widgets/reviews
	include ../../ui/widgets/features
	.widget.rating
		.stars
			img(src="/assets/img/icons/star-f.svg" width="16" height="15")
			img(src="/assets/img/icons/star-f.svg" width="16" height="15")
			img(src="/assets/img/icons/star-f.svg" width="16" height="15")
			img(src="/assets/img/icons/star-f.svg" width="16" height="15")
			img(src="/assets/img/icons/star-o.svg" width="16" height="15")
		span.rating 4.8
		span.desc индекс <br> качества обслуживания