#home_widgets
	.hero
		h1 sauko <i>travel</i>
		h2 ваш индивидуальный гид по Беларуси
	.widget.welcome
		.head
			span.title Добро пожаловать!
		.body
			p Вiтаю ўсіх, кто заглянул на страничку моего сайта! А раз Вы заглянули — значит, скорее всего, Вы увлекаетесь путешествиями, стремитесь к открытиями и познанию себя и окружающего мира. 
			p Я – Инна Савко, экскурсовод, работающий в Минске, буду рада рассказать Вам о белорусских городах и местечках в увлекательной форме.
			.signature
				img(src="/assets/img/pages/index/avatar.jpg" width="64" height="64")
				.name Инна Савко
				.role экскурсовод
	.widget.reviews 
		.head
			span.title
				a(href="/reviews.html") Отзывы
			.arrows
				img.prev(src="/assets/img/icons/arrow.svg" width="16" height="16")
				img.next(src="/assets/img/icons/arrow.svg" width="16" height="16")

	.widget.features
		.head
			span.title Мои преимущества
	.widget.rating
		.stars
		span.rating 4.8
		span.desc индекс <br> качества обслуживания