include ../../ui/bread
h1 Контакты
.fake-masonry
	.item
		ul
			li
				a(href="tel:[[++tel]]") +375 44 54 00 925
			li
				a(href="#") Viber
			li
				a(href="#") WhatsApp
			li
				a(href="#") Instagram 
				
			li info@sauko.by
			li.cb Заказать звонок
	.item
		ul
			li ООО "ПоСтране"
			li УНП 192847707
			li.ur Юр. адрес:
				span 220053, г. Минск,<br>ул. Нововиленская, 38, каб. 11
	.item
		iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.902103676263!2d27.49389309586452!3d53.895065396337046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc4c2286bbec7%3A0x48698938b9c25843!2z0K3QutGB0LrRg9GA0YHQuNC4INC_0L4g0JzQuNC90YHQutGDINGBINCY0L3QvdC-0Lkg0KHQsNCy0LrQvg!5e0!3m2!1sru!2sby!4v1706299824674!5m2!1sru!2sby" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
				

