section.table.mt2.mb2.org

	.tabs

		.ex.active
			img(src="/assets/img/icons/list.svg" width="24" height="24")
			a(href="/mixed.html") Экскурсии
		
		.tours
			img(src="/assets/img/icons/bus.svg" width="24" height="24")
			a(href="/tours.html") Туры
		
		.corp(href="/corp.html")
			img(src="/assets/img/icons/cocktail.svg" width="24" height="24")
			a(href="/corp.html") Корпоративы
			
	ul.tags.mt2.mb2
		li.active
			a(href="/exlist.html" rel="school") Школьные 
		li
			a(href="/sbor.html" rel="sbor") Сборные
		li.new
			a(href="/exlist.html" rel="factory") Производственные

	.table
		.thead
			.name
				img.thumb(class="loupe" src="/assets/img/icons/search.svg" width="24" height="24")
				input(type="text" placeholder="Название экскурсии" required)
				img(class="close" src="/assets/img/icons/close.svg" width="14" height="14")
			span.duration Продолжительность, часов
			span.distance Расстояние, км
		.tbody

			.row
				.name
					img.thumb(src="/assets/img/icons/table/02.jpg" width="36" height="36")
					a(href="/ex.html") Экскурсия в Брест и Брестскую крепость
				span.duration 12
				span.distance 700

			.row
				.name
					img.thumb(src="/assets/img/icons/table/01.jpg" width="36" height="36")
					a(href="/ex.html") Дукорский маёнтак
				span.duration 6
				span.distance 120
			
			.row
				.name
					img.thumb(src="/assets/img/icons/table/03.jpg" width="36" height="36")
					a(href="/ex.html") Великое княжество Сула
				span.duration 8
				span.distance 150

