include ../../ui/bread
h1 Отзывы
.fake-masonry
	include ../../ui/widgets/review_form
	.item.review
		.head
			span.name Светлана
			span.date 13.05.2024
		.body
			p Нам очень все понравилось. Спасибо большое. Организовано все было отлично и с авто с экскурсией. И хозяин сам очень понравился. Действительно творческий человек и своим интересом очень увлекает. 
			p Вообще неординарный и талантливый человек. Еще раз Вам спасибо за все
	.item.review
		.head
			span.name Зайцева Т.В.
			span.date 13.07.2021
		.body
			p Большое спасибо от коллектива концерная "Беллесбумпром"! Выражаем Вам огромную признательность за прекрасно организованную экскурсию. С радость будем обращаться к вам и в последующем!


//p https://codesandbox.io/s/gallery-thumbnails-in-css-grid-layout-full-screen-lightbox-8u6ybo?file=/index.html



	
