include ../../ui/bread
h1 Отзывы
.fake-masonry
	.widget.review_form 
		.head
			span.title Оставить отзыв обо мне
		form.body
			input(type="text" required placeholder="Ваше имя")
			textarea(placeholder="Текст отзыва")
			.row
				a.y(href="#" target="_blank")
				a.g(href="#" target="_blank")
				input(type="submit" value="Отправить")
	.item.review
		.head
			span.name Светлана
			span.date 13.05.2024
		.body
			p Нам очень все понравилось. Спасибо большое. Организовано все было отлично и с авто с экскурсией. И хозяин сам очень понравился. Действительно творческий человек и своим интересом очень увлекает. 
			p Вообще неординарный и талантливый человек. Еще раз Вам спасибо за все	
p https://codesandbox.io/s/gallery-thumbnails-in-css-grid-layout-full-screen-lightbox-8u6ybo?file=/index.html



	
