#wrapper
	@include mw
	background-color: #fff
	margin-top: 46px !important
	border-radius: 4px
	box-shadow: 0px 4px 64px 0px #DEE1E5
header
	display: flex
	align-items: center
	justify-content: space-between
	background-color: #E0F1ED
	padding-right: 1rem
	.logo
		padding: 7px 0
		background-color: #fff
		width: 350px
		padding-left: 34px
		border-top-left-radius: 4px
	.green
		display: flex
		align-items: center
		border-top-right-radius: 4px
		gap: 2rem
		ul.nav
			display: flex
			gap: 2rem
		.currency
			.head
				display: flex
				align-items: center
				gap: 7px
			ul
				display: none	
main
	display: flex
	article
		flex-grow: 1
aside
	width: 350px

